header {
    background: #0C3E64;
}

body {
    background: #0C3E64;
}

.content {
    margin-top: 75%;
}

.content h3,
.content h4 {
    padding-top: 10px;
    width: 100%;
    background-color: #31648B;
    border-color: #31648B;
    border-style: solid;
    border-radius: 15px 15px 0px 0px;
    margin: 0;
    text-align: left;
    padding-left: 15px;
}

p {
    padding: 15px;
    margin-top: 0;
    width: 100%;
    background-color: #4081b2;
    border-color: #4081b2;
    border-style: solid;
    border-radius: 0px 0px 15px 15px;
    text-align: left;
}

img.horiz {
    border-color: #4081b2;
}

.horiz {
    background-color: #804494;
}

.next,
.previous {
    background-color: #31648B
}