header {
    background: #E4799F;
}

body {
    background: #E4799F;
}

.content {
    margin-top: 65%;
}

.content h3 {
    background-color: #d4849f;
    border-color: #d4849f;
    border-radius: 15px 15px 0px 0px;
    margin: 0;
    text-align: left;
    padding-top: 10px;
    padding-left: 15px;
    width: 100%;
}

.content h4 {
    padding-top: 10px;
    width: 100%;
    background-color: #d4849f;
    border-color: #d4849f;
    border-style: solid;
    border-radius: 15px 15px 0px 0px;
    margin: 0;
    text-align: left;
}

p {
    padding: 15px;
    margin-top: 0;
    width: 100%;
    background-color: #F69CBC;
    border-color: #F69CBC;
    border-style: solid;
    border-radius: 0px 0px 15px 15px;
    text-align: left;
}

img.vert {
    border-color: #F69CBC;
    object-position: 50% 10%;
}

.vert {
    background-color: #F69CBC;
}

.next,
.previous {
    background-color: #F69CBC
}